body {
  background: #28292D;
  font-family: 'Roboto', sans-serif;
}

a {
    color: #885df1;
}

.weather-app {
  background: #252628;
  color: #F7F7F9;
  max-width: 600px;
  margin: 60px auto;
  box-shadow: 0 10px 30px #535151;
  border-radius: 30px;
  padding: 40px 30px;
}

.search-input {
    background-color: #f9f7fe;
    border: none;
    font-size: 16px;
    width: 80%;
    border-radius: 6px;
    padding: 15px 20px;
}

.search-button {
    background: #885df1;
    padding: 15px 30px;
    border: none;
    font-size: 16px;
    margin-left: 5px;
    border-radius: 6px;
    color: white;
}

main {
    padding: 30px 0;
}

.current-city {
  text-align: center;
  font-size: 38px;
  font-weight: 900;
  margin: 0;
}

h3 {
  text-align: center;
  margin: 0 auto;
  padding: 15px 0;
  font-weight: 400;
}

.current-weather {
  background: #252628;
  color: #F7F7F9;
  font-weight: 300;
  display: flex;
  justify-content: space-around;
}

p {
  text-align: center;
}

.description {
  background: #252628;
  padding: 20px 0;
}
.current-temperature-value {
  background: #252628;
  font-size: 48px;
  font-weight: 500;
  padding: 20px 0;
}

.weather-app-details {
  background: #252628;
  padding: 60px 0;
}

footer {
  border-top: 1px solid #28292D;
  text-align: center;
  font-weight: 300;
  font-size: 15px;
}